<div class="row">
  <div class="col-sm-8">
  <%= simple_form_for([:admin, @autor], wrapper: :vertical_form, html: { class: "form-vertical", role: "form" }) do |f| %>
    <%= f.input :nome %>
      <%= f.submit "Salvar", :class => 'btn btn-primary' %>
      <%= link_to "Cancelar", admin_autores_path, :class => 'btn btn-default' %>
    </div>
  <% end %>
</div>
</div>
